#contact{}
  #contact #imagen-pet-friendly{ width: 3em; height: auto;}
  #contact #imagen-logo-facebook{ width: 3em; height: auto;}
  #contact #imagen-logo-twitter{ width: 3em; height: auto;}
  #contact #imagen-logo-instagram{ width: 3em; height: auto;}
  #contact #imagen-logo-youtube{ width: 6em; height: auto;}
  #contact #imagen-taza-dinosaurio{ width: 4em; height: auto;}
